{% extends 'base.html.twig'  %}
{% block body %}

    <h1>Créer un article :</h1>

    {{ form_start(formArt) }}

    <div class="form-group">
        <label for="">Titre</label>
        {{ form_widget(formArt.title) }}
    </div>

    <div class="form-group">
        <label for="">Contenu</label>
        {{ form_widget(formArt.content) }}
    </div>

    {{ form_end(formArt) }}

{% endblock %}