{% extends 'base.html.twig' %}

{%  block body %}
<h1>Bienvenue sur mon blog de cuisine !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis vulputate facilisis. Donec auctor est in urna scelerisque, sed condimentum odio ullamcorper. Praesent vel arcu ut lacus consequat venenatis ut at ante. Maecenas ut velit et elit consectetur consectetur. Fusce ut fermentum justo. Donec facilisis leo libero, quis tempor ipsum congue ut. Aliquam ex magna, mattis at egestas quis, feugiat at mi. Vestibulum eleifend viverra ultrices. Aenean lacus felis, dapibus eget risus dignissim, consectetur efficitur leo. Donec mattis libero ut leo maximus lobortis. Cras risus mi, ullamcorper aliquam turpis rhoncus, aliquam tincidunt mauris. Curabitur malesuada eget turpis eget imperdiet. </p>
{% endblock %}