{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le 10/02/2002</div>
        <div class="content"><img src="https://via.placeholder.com/150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorum error id molestiae
                nostrum reprehenderit!</p>
            <p>Aliquid consequatur eos excepturi nam, nihil placeat quae quasi! Consectetur delectus eligendi in
                iure recusandae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur cumque debitis doloremque eaque
                esse fugiat, harum itaque magni numquam quis repellendus repudiandae. Aut, ducimus fugiat harum ipsum
                maiores molestiae molestias non provident quaerat quasi quo, tenetur? Animi architecto consequatur hic
                ipsam quam repellendus, repudiandae sequi suscipit. Amet, ea nisi!</p>
            <p>Ab accusamus beatae dicta dolor est et eum facilis iure, laboriosam molestiae molestias obcaecati
                repellat ullam! Ab, ad alias aspernatur consequatur dignissimos doloribus dolorum earum, esse et
                exercitationem id iste maiores nam natus odit officiis, rem? Aliquam dicta exercitationem laboriosam
                nulla porro provident rerum. Eveniet maiores, optio? Cupiditate, excepturi, sit!</p>
    </article>
{% endblock %}